/* Nothing for the moment ... */

.progress-bar .value-used, .progress .value-total { position: absolute; top: 22px; right: -9px;  color: black; font-weight: normal; }
.progress-bar { position: relative; min-width: 0.3%;}
.progress { overflow: visible; position: relative;  }
.push-right { text-align: right; }
.push-right .sr-only  { color: black; position: relative; right: -20px; }